%tr
  -if current_user.try(:has_role?, :admin)
    %td= "Administrateur"
  %td= admin.firstname
  %td= admin.lastname
  %td= admin.email
  %td= button "Voir", admin, type: :primary
  %td= button "Voir les programmes", user_programs_path(admin), type: :primary
  %td
    = button "Editer", edit_user_path(admin), type: :warning
  %td
    = button "Supprimer", admin, method:  :delete, type: :danger,
              data:  { confirm:  "Etes-vous certain ?" }
