%tr
  %td= student.firstname
  %td= student.lastname
  %td= student.email
  %td= button "Voir", user_path(student), type: :primary
  %td= button "Voir les programes", user_programs_path(student), type: :primary
  -if current_user.try(:has_role?, :admin)
    %td
      = button "Editer", edit_user_path(student), type: :warning
    %td
      = button "Supprimer", user_path(student), :method => :delete, type: :danger,
                :data => { :confirm => "Etes-vous certain ?" }
