%tr
  -if current_user.try(:has_role?, :admin)
    %td= "Étudiant"
  %td= student.firstname
  %td= student.lastname
  %td= student.email
  %td= button "Voir", student, type: :primary
  -if @from_course
    %td
      - @course.ordered_missions.find_each do |m|
        -p = Program.for_mission_for_user(m,student)
        -if p.present?
          -type = p.solved_mission? ? :success : p.is_in_correction? ? :danger : p.is_corrected? ? :warning : :primary
          = button "",program_path(Program.for_mission_for_user(m,student)), type: type
        -else
          %a.btn.btn-circle-micro.btn-default
  -else
    %td= button "Voir les programmes", user_programs_path(student), type: :primary


  -if current_user.try(:has_role?, :admin)
    %td
      = button "Editer", edit_user_path(student), type: :warning
    %td
      = button "Supprimer", user_path(student), method:  :delete, type: :danger,
                data:  { confirm:  "Etes-vous certain ?" }
