%tr
  %td= student.firstname
  %td= student.lastname
  %td= student.email
  %td= button "Voir", student, type: :primary
  -if @from_course
    %td
      - @course.ordered_missions.each do |m|
        - if m.is_solved_by?(student)
          = button "",program_path(Program.for_mission_for_user(m,student)), type: :success
        -elsif m.is_in_correction_for?(student)
          = button "",program_path(Program.for_mission_for_user(m,student)), type: :warning
        -elsif m.is_corrected_for?(student)
          = button "",program_path(Program.for_mission_for_user(m,student)), type: :danger
        -elsif Program.for_mission_for_user(m,student).present?
          = button "",program_path(Program.for_mission_for_user(m,student)), type: :primary
        -else
          %a.btn.btn-circle-micro.btn-default
  -else
    %td= button "Voir les programmes", user_programs_path(student), type: :primary


  -if current_user.try(:has_role?, :admin)
    %td
      = button "Editer", edit_user_path(student), type: :warning
    %td
      = button "Supprimer", user_path(student), :method => :delete, type: :danger,
                :data => { :confirm => "Etes-vous certain ?" }
