%tr
  %td= link_to program.mission_title, program_path(program)
  -if user_signed_in? and current_user.has_role?(:admin)
    %td= program.source_code_file_name
    %td= program.user_name
    %td= link_to 'Edit', edit_program_path(program)
    %td= link_to 'Destroy', program, :method => :delete, :data => { :confirm => 'Are you sure?' }
