%tr
  - type = (program.solved_mission? ? :success : (program.is_in_correction? ? :warning : (program.is_corrected? ? :danger : :primary)))
  %td= button program.mission_title, program_path(program), type: type
  -if user_signed_in? and current_user.has_role?(:admin)
    %td= "#{program.user_name} (#{program.user.email})"
    %td= button "Supprimer", program, :method => :delete,
                  :data => { :confirm => "En êtes-vous sûr?" }, type: :danger
