%h1 Listing programs

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Source code
      %th Utilisateur
      %th Mission
      %th
      %th
      %th
  %tbody
    - @programs.each do |program|
      %tr
        %td= program.source_code_file_name
        %td= program.user.name
        %td= program.mission.title
        %td= link_to 'Show', program
        %td= link_to 'Edit', edit_program_path(program)
        %td= link_to 'Destroy', program, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Program', new_program_path
