%tr
  %td= user.firstname
  %td= user.lastname
  %td= user.email
  %td= button "Voir", user, type: :primary
  %td= button "Voir les programes", user_programs_path(user), type: :primary
  -if current_user.try(:has_role?, :admin)
    %td
      = button "Editer", edit_user_path(user), type: :warning
    %td
      = button "Supprimer", user, :method => :delete, type: :danger,
                :data => { :confirm => "Etes-vous certain ?" }
