%tr
  %td= user.firstname
  %td= user.lastname
  %td= user.email
  %td= button "Voir", user, type: :primary
  %td
    = button "Editer", edit_user_path(user), type: :warning
  %td
    = button "Supprimer", user, :method => :delete, type: :danger,
              :data => { :confirm => "Etes-vous certain ?" }
