%h1
  = @user.name
%p
  %b
    =t_attr(:user, :firstname)
    \ :
  = @user.firstname
%p
  %b
    =t_attr(:user, :lastname)
    \ :
  = @user.lastname
%p
  %b
    =t_attr(:user, :email)
    \ :
  = @user.email

%p
  = button "Voir les programmes", user_programs_path(@user), :type=>:success
  -if current_user.try(:has_role?, :admin)
    = button "Editer", edit_user_path(@user), :type=>:success
  = button "Retour", :back
-if current_user.try(:has_role?, :admin)
  %p
    = button "Supprimer", user_path(@user), method:  :delete, :type=>:danger,
              data:  { confirm:  "Es-tu sur ? L'utilisateur sera supprimé définitivement." }
