%h1
  = @user.name
%p
  %b
    =t_attr(:user, :firstname)
    \ :
  = @user.firstname
%p
  %b
    =t_attr(:user, :lastname)
    \ :
  = @user.lastname
%p
  %b
    =t_attr(:user, :email)
    \ :
  = @user.email
%p
  = button "Editer", edit_user_path(@user), :type=>:success
  = button "Retour", :back
%p
  = button "Supprimer", @user, :method => :delete, :type=>:danger,
            :data => { :confirm => "Es-tu sur ? Ton compte sera supprimé définitivement." }
