%tr
  %td= project.name
  %td= button "Voir", project_path(project), type: :primary
  %td= button "Supprimer", project, :method => :delete, type: :primary,
              :data => { :confirm => "Etes vous certain ?" }
  -if user_signed_in? and current_user.has_role?(:admin)
    %td= project.source_code_file_name
    %td= project.user_name
    %td= button "Modifier le projet", edit_project_path(project), type: :warning
