%tr
  %td= teacher.firstname
  %td= teacher.lastname
  %td= teacher.email
  %td= button "Voir", user_path(teacher), type: :primary
  %td= button "Voir les programmes", user_programs_path(teacher), type: :primary
  %td
    = button "Editer", edit_user_path(teacher), type: :warning
  %td
    = button "Supprimer", user_path(teacher), :method => :delete, type: :danger,
              :data => { :confirm => "Etes-vous certain ?" }
