%h2
  = t_attr(:user, :sign_in)
%p
  = bootstrap_form_for(resource, as:  resource_name, url:  session_path(resource_name)) do |f|
    = f.email_field :email, autofocus:  true
    = f.password_field :password
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
    = f.actions do
      = f.submit t_attr(:user, :sign_in)
      = f.cancel
= render "devise/shared/links"
