%h1= @title


%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Title
      %th Description
      -if user_signed_in? and (current_user.has_role?(:admin) or current_user.has_role?(:teacher))
        %th
        %th
        %th
  %tbody
    = render @courses, inscription: false, desinscription: false

-if user_signed_in? and (current_user.has_role?(:admin) or current_user.has_role?(:teacher))
  %p
    = button "Nouveau cours", new_course_path, type: :success
-elsif user_signed_in? and current_user.is_student?
  %p
    = button "S'inscrire à un cours", course_inscription_index_path, type: :primary
    = button "Se désinscrire d'un cours", course_desinscription_index_path, type: :primary
