= bootstrap_form_for @chapter do |f|
  = f.text_field :title
  = f.text_area :description, {class: :wysiwyg,
    "data-url"=>request.protocol + request.host_with_port + file_missions_path(format:  :json)}
  = f.text_field :youtube
  = f.text_area :small_description, {class: :wysiwyg,
    "data-url"=>request.protocol + request.host_with_port + file_missions_path(format:  :json)}
  = f.actions
