%tr.item{data: {update_url:"#{sort_mission_path(mission)}", ordered_row: "mission_order"}}
  %td= mission.position+1
  %td= link_to mission.title, mission, :id=>"show-mission-#{mission.id}"
  %td= raw mission.small_description
  -if user_signed_in? and current_user.has_role?(:admin)
    %td= link_to 'Edit', edit_mission_path(mission)
    %td= link_to 'Destroy', mission, :method => :delete, :data => { :confirm => 'Are you sure?' }
