%h1 Listing missions

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Source code
      %th
      %th
      %th
  %tbody
    - @missions.each do |mission|
      %tr
        %td= mission.title
        %td= raw mission.description
        %td= mission.source_code_file_name
        %td= link_to 'Show', mission, :id=>"show-mission-#{mission.id}"
        %td= link_to 'Edit', edit_mission_path(mission)
        %td= link_to 'Destroy', mission, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mission', new_mission_path
